@model ClinicaOdontologica.Desfalcados.Models.Users

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateADD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateADD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserADD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserADD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDelete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsuarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
